.about-platform {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../../img/powered-platforms.webp");
}

.about-platform-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  color: white;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;
}

.about-platform-header {
  font-size: var(--blue-font-size);
  font-weight: var(--font-weight-bold);
}

.about-platform-footer {
  display: flex;
  justify-content: space-between;
  grid-gap: 2rem;
  width: 100%;
}

.about-platform-mini-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.about-platform-mini-flex span {
  font-size: 4rem;
  font-weight: 800;
}

.about-platform-mini-flex p {
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

@media (max-width: 1000px) {
  .about-platform-mini-flex span {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .about-platform-mini-flex span {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .about-platform-header {
    text-align: center;
  }
  .about-platform-container {
    row-gap: 2rem;
  }
  .about-platform-mini-flex span {
    font-size: 2rem;
  }
  .about-platform-footer {
    flex-direction: column;
  }
}
